@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-5">Pelada dos Amigos</h1>
    <a>Inicie inserindo a lista de jogadores <a asp-controller="Jogadores" asp-action="Create"> comece por aqui</a>.</a>
</div>
